.about {
    padding-top: 180px;
padding-bottom: 40px;
    background-image: url("../../src/image/about-us_bg.png");
    background-position: left  top ;
    background-repeat: no-repeat;
}


.about-main {
    display: flex;
    gap: 100px;
    align-items: center;
}

.about__text-block {
    width: 430px;
}

.about__text-block h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    border-bottom: 1px solid #DA3414;
}

.about__text-block p {
    margin-top: 23px;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    color: rgba(255, 255, 255, 1);
}