.hero-wrapper {
    background-image: url("../../src/image/hero-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 80px;
}



.header__nav {
    padding-top: 40px;
    padding-bottom: 115px;
    margin-bottom: 210px;
}