
.hero {
    background-image: url("../../src/image/hero-background.png");
    background-repeat: no-repeat;
  background-size:cover;

}
.hero-text__title {
    font-size: 80px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1;
margin-bottom: 40px;
}

.hero-text {
    width: 570px;
}

.hero-text__span {
    font-size: 65px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
}

.hero-text__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 1);
}

