.our-instagram {
    padding-top: 135px;
    padding-bottom: 150px;
    background-image: url("../../src/image/instagram-bg.png");
    background-position: right  top ;
    background-repeat: no-repeat;
}


.our-instagram__heading {
    text-align: center;
    color: white;
    margin-bottom: 45px;
}

.our-instagram__paragraph {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.our-instagram__list {
    display: flex;
justify-content: space-between;
    align-items: center;
    gap: 30px;
}



.our-instagram__item{
    height: 300px;
}


.our-instagram__item img{
    height: 100%;
}

.our-instagram__button-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: center;

}
.our-instagram__button {
    text-transform: uppercase;

}


