.our-instagram {
    padding-top: 135px;
    padding-bottom: 150px;
    background-image: url("../../src/image/instagram-bg.png");
    background-position: right  top ;
    background-repeat: no-repeat;
}

.our-instagram__h2 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #DA3414;
}

.our-instagram__p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1);
}

.our-instagram__photo {
    display: flex;
    gap: 30px;
}

.our-instagram__photo img {
    height: 300px;
}

.our-instagram__button {
    margin-top: 50px;
    display: flex;
justify-content: center;
}

.contact-text__wrapper__li__p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    display: flex;
    gap: 5px;
}