.services {
    padding-top: 95px;
    padding-bottom: 195px;
}

.services__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 1);
}

.services__list {
    display: flex;
    gap: 75px;
    height: 400px;
    align-items: center;
}

.services__item {
    height: 340px;
}




.services__item img{
    height: 100%;
}

.services__item:hover {
    transform: scale(1.3);
}

.services__subtitle {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 1);
    transform: translate(65px,-300px);
}
.services--button {
    text-transform: capitalize;
    transform: translate(65px,-120px);
}

.our-services__li {
    height: 340px;
}

.services--button {
    display: none;
}

.services--button:hover {
    display: block;
    position: absolute;
}
