.services {
    padding-top: 55px;
    padding-bottom: 195px;
}

.services__heading {
    text-align: center;
}

.services__heading:after {
    content: "";
    display: flex;
    justify-content: center;
    background-color: rgba(218, 52, 20, 1);
    width: 175px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.services__button {
    display: none;
}

.services li:hover button {
    display: block;
}

.services li:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

.services__item {
    height: 340px;
}


.services__item img {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 100%;
    width: 100%;
}

.services__list {
    display: flex;
    gap: 75px;
}

.services__subheading {
    font-size: 25px;
    line-height: 1.2;
    color: #FFFFFF;
    font-weight: 500;
    transform: translate(60px,-260px);

}

.services__button-wrapper {
    transform: translate(0px,-150px);
    display: flex;
    justify-content: center;
}

.services__button {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-radius: 8px;
}
