@import "./styles/header.css";
@import "./styles/components/button.css";
@import "./styles/about.css";
@import "./styles/choose-us.css";
@import "./styles/services.css";
@import "./styles/free-consultation.css";
@import "./styles/our-instagram.css";
@import "./styles/contacts.css";


@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 300;
    src: url("fonts/RobotoSlab-Light.woff2")
}

@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/RobotoSlab-Medium.woff2")
}

@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 500;
    src: url("fonts/RobotoSlab-Regular.woff2")
}

@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/RobotoSlab-Black.woff2")
}

.container-xl {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}



body {
    font-family: Roboto-Slab, sans-serif;
    background-color : #05090A;
}

