@import "./styles/header.css";
@import "./styles/components/button.css";
@import "./styles/about.css";
@import "./styles/choose-us.css";
@import "./styles/services.css";
@import "./styles/free-consultation.css";
@import "./styles/our-instagram.css";
@import "./styles/contacts.css";
@import "./styles/footer.css";
@import "./styles/hero.css";
@import "./styles/components/button.css";


@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 300;
    src: url("fonts/RobotoSlab-Light.woff2")
}

@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/RobotoSlab-Medium.woff2")
}

@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 500;
    src: url("fonts/RobotoSlab-Regular.woff2")
}

@font-face {
    font-family: Roboto-Slab;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/RobotoSlab-Black.woff2")
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-xl {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


body {
    font-family: Roboto-Slab, sans-serif;
    background-color: #05090A;
}


.nav {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    gap: 85px;
    color: #FFFFFF;
}


.text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #FFFFFF;
}

.heading {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
}

.orange__heading {
    color: rgba(218, 52, 20, 1);
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.underline {
    color: rgba(218, 52, 20, 1);
}